@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700;900&family=Roboto+Slab:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../public/images/mainbg.jpg");
  background-size: cover;
  overflow-x: hidden;
}

.active {
  background: linear-gradient(45deg, #3cd7fd 20%, #687eff 70%);
  border-radius: 50%;
  color: #fff;
}

.text-gradient {
  @apply bg-gradient-to-r text-transparent bg-clip-text from-[#3cd7fd] to-[#687EFF] font-bold;
}

.bg-gradient {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}
.section {
  @apply py-8 lg:py-24 lg:h-screen flex items-center;
}
